.h5p-container {
  overflow: hidden;
}
.h5p-container ul {
  margin: 0;
  padding: 0;
}
.h5p-single-choice-set {
  padding: .5em;
  position: relative;
  box-sizing: border-box;
}
.h5p-single-choice-set-progress {
  height: 5px; /* Setting height in px is intentional. We don't want it to ever get bigger */
  width: 100%;
  background: rgb(102, 102, 102);
}
.h5p-single-choice-set-progress .h5p-completed {
  height: 100%;
  width: 0;

  box-shadow: 0 0 0.25em 0 #fff;
  background: #0097fd;
  background-image: -webkit-linear-gradient(top, #0097fd, #096bcb);
  background-image: -moz-linear-gradient(top, #0097fd, #096bcb);
  background-image: linear-gradient(to bottom, #0097fd, #096bcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097fd', endColorstr='#096bcb', GradientType=0);

  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.h5p-single-choice-set.h5p-animate {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.h5p-single-choice {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: .5em;
}
.initialized .h5p-slide {
  display: none;
}
.initialized .h5p-slide.h5p-current {
  display: block;
}
.h5p-single-choice-question {
  font-size: 1.3em;
  padding: 1em 0 .5em 1em;
}
.h5p-single-choice-alternative.reveal-correct,
.h5p-single-choice-alternative.reveal-correct:hover,
.h5p-single-choice-alternative.reveal-correct:active {
  background: #cce8cc;
}
.h5p-single-choice-alternative.reveal-wrong {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  color: #BBB;
}
.h5p-single-choice-alternative {
  position: relative;
  box-sizing: border-box;
  list-style: none;
  background: #EEE;
  margin: .5em 0;
  padding: .4em 1.2em;

  cursor: pointer;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.h5p-single-choice-alternative .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #D0E5F2;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}
.drummed .progressbar {
  display: none;
}
.h5p-single-choice-alternative .label {
  position: relative;
}
.h5p-single-choice-alternative.selected .progressbar {
  width: 100%;
}
.h5p-single-choice-alternative .status {
  font-family: H5PFontAwesome4;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.h5p-single-choice-alternative.is-correct.drummed .status:after{
  content: "\f00c";
  color: #39692e;
}
.h5p-single-choice-alternative.is-wrong.drummed .status:after{
  content: "\f00d";
  color: #c33f62;
}
.h5p-single-choice-alternative:hover {
  background-color: #DDD;
}
.selected .h5p-single-choice-alternative {
  cursor: auto;
}
.h5p-single-choice-set-results {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1.8em;
  text-align: center;
  box-sizing: border-box;
}
.h5p-single-choice-set-results > .feedback {
  display: block;
  font-size: 1.8em;
  margin-bottom: 1.3em;
}
.h5p-single-choice-set-results > .show-solution,
.h5p-single-choice-set-results > .retry {
  display: inline-block;
  font-size: 1em;
  padding: 0.2em 1em;
  border: 0.2em solid #fff;
  border-radius: 0.4em;
  margin: 0 0.5em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #999;
  text-decoration: none;
  background: rgb(100,152,254);
  background: -moz-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(100,152,254,1)),color-stop(100%,rgba(4,104,206,1)));
  background: -webkit-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -o-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -ms-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6498fe',endColorstr='#0468ce',GradientType=0);
}

.h5p-single-choice-set-results > .show-solution:hover,
.h5p-single-choice-set-results > .retry:hover {
  text-decoration: none;
  box-shadow: 0 0 0.5em #999;
  background: rgb(4,104,206);
  background: -moz-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(4,104,206,1)),color-stop(100%,rgba(100,152,254,1)));
  background: -webkit-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -o-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -ms-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0468ce',endColorstr='#6498fe',GradientType=0);
}

.sound-control {
  font-family: H5PFontAwesome4;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0.3em;
  right: 0.1em;
  text-align: center;
  color: #AAA;
  cursor: pointer;
}
.sound-control:hover {
  color: #444;
}
.sound-control:after {
  content: '\f028';
}
.sound-control.muted:after {
  content: '\f026';
}
.h5p-sc-solution-view {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background: transparent;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.h5p-sc-solution-choices {
  font-size: 1.2em;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  min-height: 200px;
  background: white;
  border: 5px solid #CCC;
  border-radius: 0.2em;
  padding: 1em;
  overflow: auto;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.h5p-sc-solution-question {
  font-weight: bold;
  margin-bottom: 0.25em;
}
.h5p-sc-solution-answer {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.h5p-sc-solution-answer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.h5p-sc-solution-answer:before {
  font-size: 0.8em;
  font-family: H5PFontAwesome4;
  content: "\f00c";
  color: #39692e;
  padding-right: 0.25em;
}
