.h5p-container.h5p-single-choice-set {
  overflow: hidden;
}
.h5p-single-choice-set .h5p-question-introduction {
  margin-left: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h5p-container .h5p-sc-set ul {
  margin: 0;
  padding: 0;
}
.h5p-sc-set-wrapper.initialized {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-limit: 0 0 0 0; /* IE11 bugfix for where this element can be out of line, when focusing on elements. */
  height: 100%;
}

.h5p-sc-set-wrapper.next-button-mode {
  margin-bottom: 2.5em;
}

.h5p-sc-set {
  height: 100%;
  padding: 0.5em;
  position: relative;
  box-sizing: border-box;
}

.h5p-single-choice-set .h5p-joubelui-progressbar {
  position: relative;
  z-index: 1;
}

.h5p-single-choice-set .h5p-joubelui-progressbar-background {
  background-color: var(--h5p-theme-contrast-cta-white);
  height: 7px;
  margin: 3px 3px 0 3px;
  border-radius: 5px;
  transition: width 1s;
}

.h5p-single-choice-set .h5p-joubelui-button {
  margin-bottom: 0;
}

.h5p-sc-set.h5p-sc-animate {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.h5p-sc {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: .5em;
}
.initialized .h5p-sc-slide {
  display: none;
}
.initialized .h5p-sc-slide.h5p-sc-current-slide {
  display: block;
}

ul.h5p-sc-alternatives {
  margin: 0;
  padding: 0;
}
ul.h5p-sc-alternatives li.h5p-sc-alternative {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
  transition: -webkit-transform 0.5s ease-in-out, width 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  margin: var(--h5p-theme-spacing-xxs) 0;
  background: var(--h5p-theme-alternative-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  border: 1px solid var(--h5p-theme-alternative-base);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  line-height: var(--h5p-theme-font-size-xxl);
  font-weight: 600;
  color: var(--h5p-theme-text-secondary);
}

ul.h5p-sc-alternatives li.h5p-sc-alternative:hover {
  cursor: pointer;
  filter: none;
  border-color: transparent;
  background-color: var(--h5p-theme-alternative-dark);
}

ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative:hover,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative:active,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative:focus,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong:hover,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong:active,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong:focus {
  background: var(--h5p-theme-alternative-base);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-correct,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-correct:hover,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-correct:active,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-correct:focus {
  background: var(--h5p-theme-feedback-correct-secondary);
  color: var(--h5p-theme-feedback-correct-main);
  border-color: var(h5p-theme-feedback-correct-third);
}

ul.h5p-sc-alternatives li.h5p-sc-alternative.h5p-sc-is-correct.h5p-sc-selected.h5p-sc-reveal-correct .h5p-sc-progressbar {
  background: var(--h5p-theme-feedback-correct-secondary);
  color: var(--h5p-theme-feedback-correct-main);
  border-color: var(h5p-theme-feedback-correct-third);
}

ul.h5p-sc-alternatives li.h5p-sc-alternative.h5p-sc-reveal-wrong {
  -webkit-transform: scale(.95);
  transform: scale(.95);
}

ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong.h5p-sc-selected,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong.h5p-sc-selected:hover,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong.h5p-sc-selected:active,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-reveal-wrong.h5p-sc-selected:focus,
ul.h5p-sc-alternatives.h5p-sc-selected li.h5p-sc-alternative.h5p-sc-is-wrong.h5p-sc-selected.h5p-sc-reveal-wrong .h5p-sc-progressbar {
  background: var(--h5p-theme-feedback-incorrect-secondary);
  color: var(--h5p-theme-feedback-incorrect-main);
  border-color: var(--h5p-theme-feedback-incorrect-third);
}

li.h5p-sc-alternative .h5p-sc-progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #cee0f4;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.h5p-sc-drummed .h5p-sc-progressbar {
  background: transparent;
  transition: background 1s;
}
/* Using animation instead of transition on width made this much
   smoother on iPad */
li.h5p-sc-alternative.h5p-sc-selected .h5p-sc-progressbar {
  -webkit-animation: progress 0.6s;
  -moz-animation: progress 0.6s;
  -o-animation: progress 0.6s;
  animation: progress 0.6s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes progress {
    from { } to { width: 100% }
}
@-moz-keyframes progress {
    from { } to { width: 100% }
}
@-ms-keyframes progress {
    from { } to { width: 100% }
}
@keyframes progress {
    from { } to { width: 100% }
}
li.h5p-sc-alternative .h5p-sc-label {
  position: relative;
}
li.h5p-sc-alternative .h5p-sc-label p {
  margin: 0.75em 0;
}
li.h5p-sc-alternative .h5p-sc-label p:first-child {
   margin-top: 0;
}
li.h5p-sc-alternative .h5p-sc-label p:last-child {
   margin-bottom: 0;
}
li.h5p-sc-alternative .h5p-sc-status {
  font-family: 'h5p-theme';
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  align-self: anchor-center;
}
.h5p-sc-alternative.h5p-sc-is-correct.h5p-sc-drummed .h5p-sc-status:after{
  content: "\e903";
  color: var(--h5p-theme-feedback-correct-main);
}
.h5p-sc-alternative.h5p-sc-is-wrong.h5p-sc-drummed .h5p-sc-status:after{
  content: "\e902";
  color: var(--h5p-theme-feedback-incorrect-main);
}

.h5p-sc-alternative .h5p-sc-a11y{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.h5p-sc-selected li.h5p-sc-alternative {
  cursor: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.h5p-sc-set-results {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  box-sizing: border-box;
}
.h5p-sc-set-results > .h5p-sc-feedback {
  display: block;
  font-size: 1.8em;
  margin-bottom: 1.3em;
}

.h5p-sc-set-results .h5p-sc-button-container {
  margin-top: 1em;
}

.h5p-sc-set-results .h5p-question-buttons.has-scorebar {
  width: calc(100% - 1.5em);
  margin: 0 0.5em 0 1em;
}

.h5p-sc-sound-control {
  width: 1.3em;
  height: 1.5em;
  text-align: left;
  color: var(--h5p-theme-text-secondary);
  cursor: pointer;
}

.h5p-sc-sound-control:hover {
  color: var(--h5p-theme-text-primary);
}
.h5p-sc-sound-control:after {
  display: inline-flex;
  align-items: center;
  height: 100%;

  font-family: 'h5p-theme';
  font-size: 1.25em;
  content: '\e91b';
}
[aria-pressed='true'].h5p-sc-sound-control:after {
  content: '\e91c';
}
.h5p-sc-solution-view {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;

  outline: none;
  display:none;
  visibility: hidden;
  background: var(--h5p-theme-ui-base);
  box-sizing: border-box;

  transition: left .3s ease-in-out, visibility .3s ease-in-out;
}
.h5p-sc-solution-view.visible {
  left: 0;
  visibility: visible;
  display: block;
}
.h5p-sc-solution-view-header {
  position: relative;
  text-align: center;
  height: 3.25em;
  background: var(--h5p-theme-ui-base);
  border-bottom: 1px solid var(--h5p-theme-stroke-1);
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
  z-index: 1;
}
.h5p-sc-solution-view-title {
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  line-height: 2.75em;
  outline: none;
  color: var(--h5p-theme-text-primary);
}
.h5p-single-choice-set .h5p-sc-solution-view .h5p-sc-close-solution-view {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: none;
  color: #1a73d9;
}

.h5p-single-choice-set .h5p-sc-solution-view .h5p-sc-close-solution-view:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #104888;
}

.h5p-single-choice-set .h5p-sc-solution-view .h5p-sc-close-solution-view:focus,
.h5p-single-choice-set .h5p-sc-solution-view .h5p-sc-close-solution-view:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #1356a3;
}
.h5p-single-choice-set .h5p-sc-solution-view .h5p-sc-close-solution-view:before {
  font-family: H5PFontAwesome4;
  content: '\f060';
  padding-right: 0.5em;
}
.h5p-sc-solution-choices {
  font-size: 1.1em;
  margin: 0 auto;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.5em;
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 2.95em;
  width: 100%;
  color: var(--h5p-theme-text-secondary);
}
.h5p-sc-solution-question {
  font-weight: bold;
  margin-bottom: 0.25em;
  padding-left: 0.5em;
}
.h5p-sc-solution-question p {
  margin: 1em 0;
}
.h5p-sc-solution-question p:first-child {
  margin-top: 0;
}
.h5p-sc-solution-answer {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.75em;
  border-bottom: 1px solid var(--h5p-theme-stroke-1);
  position: relative;
}
.h5p-sc-solution-answer p {
  margin: 0.75em 0;
}
.h5p-sc-solution-answer p:first-child {
  margin-top: 0;
}
.h5p-sc-solution-answer p:last-child {
  margin-bottom: 0;
}
.h5p-sc-solution-answer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.h5p-sc-solution-answer:before {
  font-size: 0.8em;
  font-family: 'h5p-theme';
  content: "\e903";
  color: var(--h5p-theme-feedback-correct-main);
  position: absolute;
  left: 0.75em;
}

/* Remove Question margin */
.h5p-single-choice-set .h5p-question-content {
  margin: 0;
  height: 100%;
}
/* Hide content in evaluation mode and adjust some other properties to make feedback position in the center    
body:has(.h5p-theme .h5p-question-evaluation-container.evaluation-mode) .h5p-single-choice-set .h5p-question-content{
  display: none;
}

body:has(.h5p-theme .h5p-question-evaluation-container.evaluation-mode) .h5p-joubelui-score-bar {
  width: 50%;
  margin: 0 auto;
}*/

.h5p-single-choice-set .h5p-question-feedback-container {
  max-height: initial;
  margin: 0 0 1em;
}

.h5p-single-choice-set .h5p-sc-result-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}

.h5p-single-choice-set .h5p-sc-feedback-container {
  outline: none;
}

.h5p-single-choice-set .h5p-sc-question p {
  font-size: 1em;
  margin: 0.75em 0;
}

.h5p-single-choice-set .h5p-sc-question p:first-child {
  margin-top: 0;
}

.h5p-single-choice-set .h5p-sc-question p:last-child {
  margin-bottom: 0;
}

.h5p-single-choice-set:has(.evaluation-mode) .h5p-sc-sound-control,
.h5p-single-choice-set:has(.evaluation-mode) .h5p-sc-set-wrapper:not(:has(.h5p-sc-solution-view.visible)) .h5p-sc-set {
  display: none;
}

.h5p-single-choice-set:has(.h5p-sc-solution-view.visible) .h5p-question-feedback,
.h5p-single-choice-set:has(.h5p-sc-solution-view.visible) .h5p-question-scorebar {
  display: none;
}

.h5p-theme .h5p-single-choice-set .h5p-question-evaluation-container {
  margin-top: 0;
}

.h5p-single-choice-set .h5p-question-evaluation-container.evaluation-mode {
  grid-template-columns: 1fr;
  text-align: center;
}

.h5p-single-choice-set .h5p-question-evaluation-container.evaluation-mode .h5p-question-buttons.h5p-question-visible {
  text-align: center;
  margin-top: var(--h5p-theme-spacing-m);
}

/* Scrollbar style */
.h5p-single-choice-set .h5p-sc-solution-choices::-webkit-scrollbar {
  width: 0.5em;
  background: var(--h5p-theme-ui-base);
}

.h5p-single-choice-set .h5p-sc-solution-choices::-webkit-scrollbar-thumb {
  background: #ddd;
}

.h5p-single-choice-set .h5p-sc-solution-choices::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.h5p-single-choice-set .h5p-sc-solution-choices::-webkit-scrollbar-thumb:active,
.h5p-single-choice-set .h5p-sc-solution-choices::-webkit-scrollbar-thumb:focus {
  background: #888;
}

/* IV sepcific styles */
.h5p-interactive-video .h5p-dialog[data-lib="H5P.SingleChoiceSet"] {
  width: 24.5em;
  overflow: hidden;
  padding: 0;
}

.h5p-interactive-video .h5p-dialog[data-lib="H5P.SingleChoiceSet"] .h5p-sc-sound-control {
  top: -2.075em;
  right: 2em;
}
.h5p-interactive-video .h5p-dialog[data-lib="H5P.SingleChoiceSet"] .h5p-sc-sound-control:after {
  font-size: 1.075em;
}

.h5p-interactive-video .h5p-dialog[data-lib="H5P.SingleChoiceSet"] .h5p-sc-question {
  margin-right: 0;
}

.h5p-interactive-video .h5p-dialog[data-lib="H5P.SingleChoiceSet"] .h5p-sc-solution-view {
  top: 0;
  height: 100%;
}

.h5p-interactive-video.mobile .h5p-dialog[data-lib="H5P.SingleChoiceSet"] .h5p-dialog-interaction.h5p-single-choice-set {
  height: 100%;
}

/* Standalone specific styles */
.h5p-no-frame .h5p-standalone.h5p-single-choice-set .h5p-sc-alternatives,
.h5p-no-frame .h5p-standalone.h5p-single-choice-set .h5p-sc-question {
  margin: 1em 0;
}

.h5p-no-frame .h5p-standalone.h5p-single-choice-set .h5p-sc-question {
  margin-top: 0;
}

.h5p-no-frame .h5p-standalone.h5p-single-choice-set .h5p-sc-sound-control {
  top: 0;
}

/* Transparent specific styles */
.h5p-transparent > div > .h5p-single-choice-set .h5p-sc-alternatives,
.h5p-transparent > div > .h5p-single-choice-set .h5p-sc-question {
  margin-left: 0;
  margin-right: 0;
}

.h5p-transparent > div > .h5p-single-choice-set .h5p-sc-question {
  margin-top: 0;
}

.h5p-transparent > div > .h5p-single-choice-set .h5p-sc-sound-control {
  top: 0;
  right: 0;
}

/* CP popup specific style */
.h5p-course-presentation .h5p-popup-overlay.h5p-singlechoiceset .h5p-sc-sound-control {
  top: 0.6em;
  right: 3em;
  color: #000;
}

.h5p-course-presentation .h5p-popup-overlay.h5p-singlechoiceset .h5p-sc-sound-control:after {
  font-size: 1.8em;
}

.h5p-course-presentation .h5p-popup-overlay.h5p-singlechoiceset .h5p-sc-sound-control:hover {
  color: #555;
}

.h5p-course-presentation .h5p-popup-overlay.h5p-singlechoiceset .h5p-popup-container {
  min-height: initial;
  max-height: none;
}
