.h5p-container {
  overflow: hidden;
}
.h5p-container ul {
  margin: 0;
  padding: 0;
}
.h5p-sc-set {
  padding: .5em;
  position: relative;
  box-sizing: border-box;
}
.h5p-sc-set-progress {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 5px; /* Setting height in px is intentional. We don't want it to ever get bigger */
  width: 100%;
  background: rgb(102, 102, 102);
}
.h5p-sc-set-progress .h5p-sc-completed {
  height: 100%;
  width: 0;

  box-shadow: 0 0 0.25em 0 #fff;
  background: #0097fd;
  background-image: -webkit-linear-gradient(top, #0097fd, #096bcb);
  background-image: -moz-linear-gradient(top, #0097fd, #096bcb);
  background-image: linear-gradient(to bottom, #0097fd, #096bcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097fd', endColorstr='#096bcb', GradientType=0);

  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.h5p-sc-set.h5p-sc-animate {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.h5p-sc {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: .5em;
}
.initialized .h5p-sc-slide {
  display: none;
}
.initialized .h5p-sc-slide.h5p-sc-current-slide {
  display: block;
}
.h5p-sc-question {
  font-size: 1.3em;
  padding: 1em 0 .5em 1em;
}
.h5p-sc-alternatives {
  margin: 0;
  padding: 0;
}
.h5p-sc-alternative.h5p-sc-reveal-correct,
.h5p-sc-alternative.h5p-sc-reveal-correct:hover,
.h5p-sc-alternative.h5p-sc-reveal-correct:active {
  background: #cce8cc;
}
.h5p-sc-alternative.h5p-sc-reveal-wrong {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  color: #BBB;
}
.h5p-sc-alternative {
  position: relative;
  box-sizing: border-box;
  list-style: none;
  background: #EEE;
  margin: .5em 0;
  padding: .4em 1.2em;

  cursor: pointer;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.h5p-sc-alternative .h5p-sc-progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #D0E5F2;
}
.h5p-sc-drummed .h5p-sc-progressbar {
  /*display: none;*/
  background: transparent;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  transition: background 1s;
}
/* Using animation instead of transition on width made this much
   smoother on iPad */
.h5p-sc-alternative.h5p-sc-selected .h5p-sc-progressbar {
  -webkit-animation: progress 0.6s;
  -moz-animation: progress 0.6s;
  -o-animation: progress 0.6s;
  animation: progress 0.6s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes progress {
    from { } to { width: 100% }
}
@-moz-keyframes progress {
    from { } to { width: 100% }
}
@-ms-keyframes progress {
    from { } to { width: 100% }
}
@keyframes progress {
    from { } to { width: 100% }
}
.h5p-sc-alternative .h5p-sc-label {
  position: relative;
}
/*.h5p-sc-alternative.h5p-sc-selected .h5p-sc-progressbar {
  width: 100%;
}*/
.h5p-sc-alternative .h5p-sc-status {
  font-family: H5PFontAwesome4;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.h5p-sc-alternative.h5p-sc-is-correct.h5p-sc-drummed .h5p-sc-status:after{
  content: "\f00c";
  color: #39692e;
}
.h5p-sc-alternative.h5p-sc-is-wrong.h5p-sc-drummed .h5p-sc-status:after{
  content: "\f00d";
  color: #c33f62;
}
.h5p-sc-alternative:hover {
  background-color: #DDD;
}
.h5p-sc-selected .h5p-sc-alternative {
  cursor: auto;
}
.h5p-sc-set-results {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1.8em;
  text-align: center;
  box-sizing: border-box;
}
.h5p-sc-set-results > .h5p-sc-feedback {
  display: block;
  font-size: 1.8em;
  margin-bottom: 1.3em;
}
.h5p-sc-set-results > .h5p-sc-show-solution,
.h5p-sc-set-results > .h5p-sc-retry {
  display: inline-block;
  font-size: 1em;
  padding: 0.2em 1em;
  border: 0.2em solid #fff;
  border-radius: 0.4em;
  margin: 0 0.5em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #999;
  text-decoration: none;
  background: rgb(100,152,254);
  background: -moz-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(100,152,254,1)),color-stop(100%,rgba(4,104,206,1)));
  background: -webkit-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -o-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  background: -ms-linear-gradient(top,rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6498fe',endColorstr='#0468ce',GradientType=0);
}
.h5p-sc-set-results > .h5p-sc-show-solution:hover,
.h5p-sc-set-results > .h5p-sc-retry:hover {
  text-decoration: none;
  box-shadow: 0 0 0.5em #999;
  background: rgb(4,104,206);
  background: -moz-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(4,104,206,1)),color-stop(100%,rgba(100,152,254,1)));
  background: -webkit-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -o-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  background: -ms-linear-gradient(top,rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0468ce',endColorstr='#6498fe',GradientType=0);
}
.h5p-sc-sound-control {
  font-family: H5PFontAwesome4;
  font-size: 1.5em;
  width: 1.3em;
  height: 1.5em;
  position: absolute;
  top: 0.3em;
  right: 0;
  text-align: left;
  color: #AAA;
  cursor: pointer;
}
.h5p-sc-sound-control:hover {
  color: #444;
}
.h5p-sc-sound-control:after {
  content: '\f028';
}
.h5p-sc-sound-control.muted:after {
  content: '\f026';
}
.h5p-sc-solution-view {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background: transparent;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.h5p-sc-solution-choices {
  font-size: 1.2em;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  min-height: 200px;
  background: white;
  border: 5px solid #CCC;
  border-radius: 0.2em;
  padding: 1em;
  overflow: auto;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.h5p-sc-solution-question {
  font-weight: bold;
  margin-bottom: 0.25em;
}
.h5p-sc-solution-answer {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.h5p-sc-solution-answer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.h5p-sc-solution-answer:before {
  font-size: 0.8em;
  font-family: H5PFontAwesome4;
  content: "\f00c";
  color: #39692e;
  padding-right: 0.25em;
}
